*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, textarea {
	font-family: Helvetica, Arial;
}

$sideWidth: 202px;
$createRoomBG: rgb(238, 238, 238);
$backgroundGradient: linear-gradient(to top left, #000, #404040);

#container {
	textarea {
		resize: none;
	}
	.section {
		height: 100vh;

		.list {
			height: calc(100% - 40px);
			padding-bottom: 40px;
			overflow-y: scroll;
		}
	}
	.sidebar {
		h2 {
			text-align: center;
			font-size: 24px;
			text-shadow: 1px 1px 1px #ccc;
			padding-top: 5px;
			padding-bottom: 5px;
			border-bottom: 2px solid #000;
			background: $backgroundGradient;
			color: #FFF;
		}
	}
	#rooms {
		width: $sideWidth;
		float: left;
		border-right: 1px solid #ccc;
		position: relative;

		.room {
			padding: 5px;
			border-bottom: 1px solid #000;
			height: 30px;
			position: relative;
			cursor: pointer;
			font-style: italic;

			* {
				display: inline-block;
			}
			.room-name {
				width: 160px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			.connectionIndicator {
				width: 15px;
				height: 15px;
				border: 1px solid #000;
				//box-shadow: 0 0 0 1px #000;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 5px;
			}
			.connectionIndicator.off {
				background-color: #FFF;
			}
			.connectionIndicator.on {
				background-color: #00ff00;
			}
		}
		.room:hover {
			background-color: rgb(235, 235, 235);
		}
		#newRoomButton {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			border-top: 1px solid #000;
			padding: 10px 0;
			background: repeating-linear-gradient(-45deg, #FFF, #FFF 10px, $createRoomBG 10px, $createRoomBG 20px);
			cursor: pointer;
			text-shadow: 1px 1px 1px #ccc;
		}
		#newRoomButton:hover {
			background: $createRoomBG;
		}
	}
	#chat {
		width: calc(100% - #{$sideWidth * 2});
		position: relative;
		float: left;

		.chat-container-input {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border-top: 1px solid #000;
			margin-bottom: 1px;
			height: 38px;

			#chat-text {
				font-size: 18px;
				outline: 0;
				float: left;
				width: 80%;
				height: 100%;
				border: none;
				padding: 8px;
			}
			#chat-text:focus::-webkit-input-placeholder {
				color: transparent;
			}
			#chat-send {
				background: $backgroundGradient;
				height: 100%;
				width: 20%;
				color: #FFF;
				position: relative;
				float: left;
				cursor: pointer;
				.chat-send-inner {
					position: absolute;
					top: calc(50% - 2px);
					left: 50%;
					transform: translate(-50%, -50%);
					letter-spacing: 2px;
				}
			}
			#chat-send:hover .chat-send-inner {
				top: calc(50% - 1px);
				border-bottom: 2px solid #FFF;
			}
		}
		.chat-container-messages {
			position: relative;
			height: calc(100% - 39px);
			padding-bottom: 0;

			.chat-container-inner {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

				.chat-line {
					padding: 5px 10px;

					.from {
						font-weight: bold;
					}
					.colon {
						margin-right: 4px;
					}
				}
				.chat-line.serverMsg {
					background-color: #ccc;

					.from, .colon {
						display: none;
					}
				}
			}
		}
	}
	#users {
		width: $sideWidth;
		float: right;
		border-left: 1px solid #ccc;

		h2 {
		}
		.user-name {
			padding: 3px 5px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.user-name.you {
			color: #FFF;
			background-color: #00c0ff;

		    //font-weight: bold;
		    //background: linear-gradient(to right, rgb(235, 235, 235), rgb(250, 250, 250));
		}
	}
	#prompt {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: radial-gradient(circle at 50% calc(50% - 180px), rgba(100, 100, 100, 0.5), rgba(0, 0, 0, 0.6));

		.prompt-box {
			position: absolute;
			top: calc(50% - 200px);
			left: 50%;
			transform: translate(-50%, -50%); //scale(0);
			width: 600px;
			background: $backgroundGradient;
			text-align: center;
			padding: 30px 20px 25px 20px;
			border-radius: 5px;
			color: #FFF;
			box-shadow: 2px 2px 8px #000;
			
			.prompt-question {
				font-size: 18px;
				margin-bottom: 15px;
			}
			.prompt-input {
				display: block;
				border-radius: 1px;
				border: 0;
				padding: 6px;
				width: 80%;
				margin-left: 50%;
				transform: translateX(-50%);
				font-size: 16px;
				outline: 0;
			}
			.prompt-input:focus::-webkit-input-placeholder, .prompt-input:focus::-moz-placeholder, .prompt-input:focus:-moz-placeholder, .prompt-input:focus:-ms-input-placeholder {
				color: transparent;
			}
			.prompt-submit {
				display: inline-block;
				font-size: 20px;
				font-weight: lighter;
				letter-spacing: 1px;
				margin-top: 15px;
				margin-bottom: 1px;
				padding: 0 10px 4px 10px;
				cursor: pointer;
			}
			.prompt-submit:hover {
				border-bottom: 1px solid #FFF;
				margin-bottom: 0;
			}
		}
	}
	#prompt.active {
		display: block;
	}
	/*
	#prompt.active .prompt-box {
		transition: transform .2s ease;
		transform: translate(-50%, -50%) scale(1);
	}
	*/
	#prompt.inactive, #prompt:not(.active) {
		display: none;
	}
	#prompt[data-type="user"] #highlight {
		color: #00c0ff;
	}
	#prompt[data-type="room"] #highlight {
		color: #00f900;
	}
}
#templates {
	display: none;
}